<div>
    <div style="white-space: pre"><p>Dear all,
    
    Greetings of the day,
    
    We are happy to see enthusiastic participation in the School Synergy workshop series 2021 in the past few months. We found that participants were keen to interact beyond the sessions and share the experience of using some of the ideas in the classroom. To facilitate the communication and collaboration among the participants of the synergy session we invite you to join a telegram group of School Synergy Teachers Forum to facilitate discussion around the sessions.
    Please <a href="https://t.me/joinchat/W5Nu82R9_o5hMDZl"><b>click here</b></a> to join the telegram group.
    This week Centre of Excellence for Teacher Education (CETE) will be hosting the session in continuation of the School synergy workshop series 2021.
    The session details are enclosed below: 
    
      <b>Title:  Ideation and implementation reflection session for Using
        (Science) stories to teach Science 
           
        In case you missed the session you can watch it on youtube:
      <a href="https://bit.ly/SSWS-29-Rec" target="_blank">  here </a>

      What you can do? 

        - Develop a lesson plan based on the session <br>
        - Use the ideas from the session with your students and share the
        experience <br>
        - Share experience of using your own idea with students on the
        same theme <br>
        - Share a resource that you feel can be used for this theme <br>
        - Share a short student video or a teaching video <br>
  How you can participate? 

        - Share these ideas in the School Synergy Teachers' Forum <br>
        <a href="https://bit.ly/SSTFT"> https://bit.ly/SSTFT</a>   
        - Selected participants will be informed in the telegram group for
        the session <br/>
      Date: 26 June 2021

      Time: 3.00 - 4.00 pm.
    
      Facilitator: Punam Medh</b> 
    
        Please refer to the poster attached and <a href="HTTPS://BIT.LY/SSWS-30"><b>click here to register</b></a> for the session.
    
        <b>Note:</b>After registering, you will receive a confirmation email containing information about joining the session.</p></div>
        
    
    
      <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0" bgcolor="#000000" style="padding: 0; margin: 0">
        
        <tbody>
          
          
          
         
    
    
        
    
    
    
    
    
    
        
       
     <tbody>
                    
    
    
    
    
        
      
    
    
    <tr>
      <td class="full_width" align="left" width="100%" bgcolor="#ffffff">
        <div class="div_scale" style="width: 600px">
          <table class="table_scale" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="padding: 0; margin: 0; border-top: 4px solid #316999;">
            <tbody>
              
              
              
              <tr>
              <td class="spacer" width="20" align="left" valign="top" bgcolor="#ffffff" style="margin: 0 !important; padding: 0 !important; line-height: 0 !important">&nbsp;</td>
              <td class="one_half_last" align="center" valign="top" width="600" bgcolor="#ffffff">
                <table width="100%">
    
    
                  <tbody>
    
                      <tr>
                        <td class="center" align="center" valign="top" bgcolor="5797d1" style="padding-top: 5px; font-size: 20px; color: #f2f2f2; border-bottom: 5px solid #316999; letter-spacing: 2px; font-weight: bold; font-family: Open Sans, sans-serif; line-height: 34px">
                          WORKSHOP ANNOUNCEMENT
    
                          
                  
                        
                            <a href="https://clixplatform.tiss.edu/media/3/3/2/356a8e17faae3b855c2116555d0ad84ef125ac2bac20184314bd112837ecf.jpg" style="font-style: normal" target="_blank" rel="noreferrer"> <img class="img_scale" src="https://clixplatform.tiss.edu/media/3/3/2/356a8e17faae3b855c2116555d0ad84ef125ac2bac20184314bd112837ecf.jpg" width="572" height="500" alt="image" border="0" style="display: block"> </a></td>
                        </tr>
                        
    
                      
               
                 
                  
                </tbody></table>
              </td>
              
              
              <td class="spacer" align="left" valign="top" bgcolor="#f2f2f2" style="margin: 0 !important; padding: 0 !important; line-height: 0 !important">&nbsp;</td>
              
             
    
          </tr></tbody></table>
        </div>
        
        <div class="div_scale" style="width: 600px; display: block">
          <table class="table_scale" width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#f2f2f2" style="padding: 0; margin: 0; border-top: 4px solid ##316999;">
    
          </table>
        </div>
        
      </td>
    </tr>
    
      
    
    
    
    
    
    
      
    
    
    
      <tr>
          <td class="full_width" align="left" width="100%" bgcolor="#FFFFFF">
            <div class="div_scale" style="width: 600px">
              <table class="table_scale" width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#000000" style="padding: 0; margin: 0;  border-top:0px solid #316999; border-bottom: 4px solid #316999">
                <tbody><tr>
                  
                  <td class="td_scale" width="600" bgcolor="#fd4326" align="center" valign="top" style="padding: 0px; font-size: 14px; color: #959595; font-family: Open Sans,sans-serif; line-height: 24px">
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#fd4326" style="margin: 0">
      
                      
                      <tbody> 
                   
                        
                        <tr>
                        <td class="center" align="center" valign="top" bgcolor="#FFFFFF" style="padding: 25px; margin: 2px; font-size: 14px; color: #0c0000;  font-family: Open Sans, sans-serif;  line-height: 21px">
                         <span style="font-size: 12px; text-align: center;">   Centre of Excellence in Teacher Education (CETE) <br>
                            5th Floor, Library Extension Building, Tata Institute of Social Science, V N Purav Marg, Deonar. Mumbai 400089
                         </span>
                        <br>
                          </td>
                          <tr style="border-bottom: 10px solid red; margin-bottom: 20px">
        <td class="full_width" align="left" width="100%"  bgcolor="#ffffff">
          <div class="div_scale" style="width: 600px">
            <table class="table_scale" width="600" height="42" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#3e8ddd" style="padding: 0; margin: 0; border-bottom: 4px solid #316999">
              <tbody><tr>
                
                <td class="subject_line" align="center" valign="middle" width="170" bgcolor="#3e8ddd" style="padding-top: 10px; padding-bottom: 10px">
                  <table width="100%">
                    <tbody><tr>
                      <td class="center" style="font-family: Open sans, sans-serif; font-style: normal; font-weight: bold; color: #ffffff; font-size: 14px; line-height: 18px; padding-left: 100px;">
                        <a href="https://www.tissx.tiss.edu/" style="text-decoration: none; color: #f2f2f2" target="_blank" rel="noreferrer">www.tissx.tiss.edu</a>
                      </td>
                    </tr>
                  </tbody></table>
                </td>
                
    
    
    
                <td class="subject_line" align="center" valign="middle" width="170" bgcolor="#3e8ddd" style="padding-top: 10px; padding-bottom: 10px">
                  <table width="100%">
                    <tbody><tr>
                      <td class="center" style="font-family: Open Sans, sans-serif; font-style: normal; color: #ffffff; font-size: 14px; line-height: 18px; font-weight: bold; border-left: 2px solid #fff; padding-left: 40px ">
                        <a href="https://clixoer.tiss.edu" style="text-decoration: none; color: #f2f2f2" target="_blank" rel="noreferrer">www.clixoer.tiss.edu</a></td>
                    </tr>
                  </tbody></table>
                </td>
    
    
    
    
    
                <td class="spacer" width="20" align="left" valign="top" bgcolor="#3e8ddd" style="margin: 0 !important; padding: 0 !important; line-height: 0 !important">&nbsp;</td>
                
              
                
                <td class="spacer" width="20" align="left" valign="top" bgcolor="#3e8ddd" style="margin: 0 !important; padding: 0 !important; line-height: 0 !important">&nbsp;</td>
              </tr>
            </tbody></table>
          </div>
        </td>
      </tr>
                      </tr>
                      
                      <tr>
                        <td class="full_width" align="center" width="100%" bgcolor="#e51991">
                          <div class="div_scale" style="width: 500px">
                            <table class="table_scale" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#e51991" style="padding: 0; margin: 0">
                              <tbody><tr>
                                <td align="center" valign="top" width="600" bgcolor="#e51991">
                                  <table align="center" width="100%">
                                    
                                    <tbody><tr>
                                      <td align="center" valign="top" style=" font-size: 24px; font-weight: bold color:#ffffff; font-family: Open Sans,sans-serif; line-height: 13px">
                                        <br>
                                        <span style="color: #ffffff"> <a style="color: #ffffff; font-style: normal; text-decoration: none" href="./#NOP" onclick="return false" rel="noreferrer"> Like </a>
                                          &nbsp;|&nbsp;<a style="color: #ffffff; font-style: normal; text-decoration: none" href="./#NOP" onclick="return false" rel="noreferrer"> Follow </a>
                                          &nbsp;|&nbsp;<a style="color: #ffffff; font-style: normal; text-decoration: none" href="./#NOP" onclick="return false" rel="noreferrer">Subscribe </a>
                                          &nbsp;&nbsp;<a style="color: #ffffff; font-style: normal; text-decoration: none" href="./#NOP" onclick="return false" rel="noreferrer"> </a>
                                          
                                          &nbsp;|<a style="color: #ffffff; font-style: normal; text-decoration: none" href="./#NOP" onclick="return false" rel="noreferrer"> Share
                                          </a>
                                        </span></td>
                                    </tr>
                                    
                                    <tr>
                                      <td class="center" align="center" valign="top" bgcolor="#e51991" style="padding: 0px; text-shadow: 0px 0px 0px #e51991; font-size: 16px; line-height: 26px; color: #262626; font-family: Lucida Sans Unicode">
                                        <span> <a href="https://www.instagram.com/cetei_tiss/" style="font-style: normal" target="_blank" rel="noreferrer"> <img src="https://clixplatform.tiss.edu/softwares/Email%20Template/image15.png" alt="dribbble" border="0" style="display: inline"></a> &nbsp;<a href="https://www.youtube.com/channel/UCHeg9vBiapABVkb6TTWBgYA" style="font-style: normal" target="_blank" rel="noreferrer"> <img src="https://clixplatform.tiss.edu/softwares/Email%20Template/image16.png" alt="facebook" border="0" style="display: inline"></a> &nbsp;<a href="https://www.facebook.com/cetei.tiss/?ref=bookmarks" style="font-style: normal" target="_blank" rel="noreferrer"> <img src="https://clixplatform.tiss.edu/softwares/Email%20Template/image17.png" alt="behance" border="0" style="display: inline"></a> &nbsp;<a href="https://twitter.com/@cetei_tiss" style="font-style: normal" target="_blank" rel="noreferrer">
                                            <img src="https://clixplatform.tiss.edu/softwares/Email%20Template/image18.png" alt="twitter" border="0" style="display: inline"> </a>  &nbsp;<a href="https://tiss.edu/view/6/mumbai-campus/centre-for-education-innovation-and-action-researc/activities-of-centre-2/connected-open-online-learning-cool/" style="font-style: normal" target="_blank" rel="noreferrer"> 
                                              <img src="https://clixplatform.tiss.edu/media/d/6/b/deb49e16f60a316ba181c25401f750fd93bc81234e811d7010e08f59fb1ec.png" alt="twitter" border="0" style="display: inline"> </a>  </span>
                                      </td>
                                    </tr>
                        
                    
                                    
                                  </tbody></table>
                                </td>
                              </tr>
                            </tbody></table>
                          </div>
                        </td>
                      </tr>
      
                      
                    </tbody></table>
                  </td>
      
                  
          
        </tr>
    
      
      
    
    
    
    
    
    
      
    
    
    
    
    
    
    
    
    
    
    
    
    </tbody></table></div></td></tr>
    
    
    </tbody></table></div></td></tr></tbody></table></div></td></tr></tbody></table></div></td></tr></tbody></table></div></td></tr></tbody></table></div></td></tr></tbody></table></div></td></tr></tbody></table></div></td></tr></tbody></table></div></td></tr></tbody></table></div></td></tr></tbody></table></div>