*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  color: aliceblue;
}
.navbar-brand{
  color: antiquewhite !important;
}
.navbar-light .navbar-nav .nav-link{
  color: antiquewhite ;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: aquamarine;
}