*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.navbar-brand{
  color: antiquewhite !important;
}
.navbar-light .navbar-nav .nav-link{
  color: antiquewhite ;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: aquamarine;
}
.bg-image{
  /* color: antiquewhite; */
 /* background-image: url('https://i.pinimg.com/236x/47/46/0d/47460db021bb6fbba092a3b35aecaa76.jpg');
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover; */
}
.card{
  display: flex;
  justify-content: center;
}